{% extends "base.htm" %}

{% block title %}Get my account balance in PayPal{% endblock %}
{% block heading %}My balance{% endblock %}

{% block content %}
<p>
<ul>
Status:{{ ACK }} </br>
Time: {{ TIMESTAMP }} </br>
Currency:{{ L_CURRENCYCODE0 }} </br>
Balance: {{ L_AMT0 }} </br>

</ul>
</p>

{% endblock %}