{% extends "base.htm" %}

{% block title %}Buy {{ item.title }}{% endblock %}
{% block heading %}Buy {{ item.title }}{% endblock %}

{% block content %}
<p>
This is for simple integration demo:
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="seller_1331334323_biz@hotmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Payment for the Tutorial Services">
<input type="hidden" name="amount" value="1.00">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="cn" value="Add special instructions to the seller">
<input type="hidden" name="no_shipping" value="2">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHosted">
<table>
<tr><td><input type="hidden" name="on0" value="Enter Amount Here">Enter Amount Here</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</p>

<p>
<p>This is for adaptive payment - Pay</p>

You wish to buy <strong>{{ item.title }}</strong> for <strong>${{ item.price_dollars|floatformat:2 }}</strong>.
<form action="/buy/{{ item.key }}/" method="post">
  <input type="submit" value="Buy Now"/>
</form>
</p>

<p>
You wish to buy <strong>{{item.title }}</strong> for <strong>${{ item.price_dollars|floatformat:2}}</strong>.
<form method=post action="/buyexpress/{{ item.key }}/"> 
 	<input type=image src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;" name = submit> 
</form>
</br>
</p>
{% endblock %}
